<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties - Driver, URL, user, password -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/gspriva</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
        <property name="hibernate.connection.password">root</property>
        <!-- Connection Pool Size -->
        <property name="hibernate.connection.pool_size">10</property>
         
        <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Outputs the SQL queries, should be disabled in Production -->
        <property name="show_sql">true</property>
        
        <property name="hbm2ddl.auto">none</property>
        <!--  <property name="hibernate.connection.isolation">2</property> -->
         
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
         
   	  	<!-- Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc
            Hibernate 4 automatically figure out Dialect from Database Connection Metadata -->
        
 
        <!-- mapping file, we can use Bean annotations too -->
         <mapping class="it.gspRiva.entity.EntityBase" />
        <mapping class="it.gspRiva.entity.Operatore" />
        <mapping class="it.gspRiva.entity.Anagrafica" />
        <mapping class="it.gspRiva.entity.AnagraficaCorso" />
        <mapping class="it.gspRiva.entity.IscrittoCorso" />
        <mapping class="it.gspRiva.entity.Corso" />
        <mapping class="it.gspRiva.entity.Istruttori" />

       

    </session-factory>
</hibernate-configuration>